<div class="container">
	<h1 class="center-align">Mushroom Mania</h1>
	<div class="row">
		<form>
			<div class="input-field">
				<input type="text" placeholder="Filter Description" class="col l4 offset-l2 s12 m6 offset-m3" ng-model="searchText">
			</div>
			<input type="radio" name="poison-select" id="poisonous" value="false" ng-model="edible"/>
			<label for="poisonous">Poisonous</label>
			<input type="radio" name="poison-select" id="non-poisonous" value="true" ng-model="edible"/>
			<label for="non-poisonous">Non-poisonous</label>
			<input type="radio" name="poison-select" id="all-types" value="" ng-model="edible"/>
			<label for="all-types">All</label>
		</form>
	</div>
	<div class="row">
		<div ng-repeat="mushObj in mushrooms | filter: {description: searchText, edible: edible}" class="col m4" ng-class="{clearfix: $index % 3 === 0}">
			<p>Name: {{mushObj.name}}</p>
			<p>Description: {{mushObj.description}}</p>
			<p>Edible: {{mushObj.edible}}</p>
		</div>
	</div>
</div>










